openapi: 3.1.1
info:
  title: APIs for Dassault Systèmes Partners
  description: APIs exposed by Dassault Systèmes to its partners and resellers.
  version: 0.10.0
  license:
    name: Dassault Systèmes 2025
    url: https://www.3ds.com/
  x-logo:
    url: https://www.3ds.com/assets/3ds-navigation/3DS_corporate-logo_blue.svg
    altText: Dassault Systèmes
    backgroundColor: '#FFFFFF'
servers:
  - url: https://apigw-prd.3ds.com
    description: Main (production) server
  - url: https://apigw-ppt.3ds.com
    description: Server for development by Partners (Non Production)
  - url: https://apigw-qal.3ds.com
    description: Server for Quality Assurance Testing (Non Production)
  - url: https://apigw-ptd.3ds.com
    description: Server for preprod validation (Non Production)
  - url: https://apigw-ppd.3ds.com
    description: Server for postprod validation (Non Production)
security:
  - ApiKeyAuth: []
tags:
  - name: orders
    description: >
      This section defines the operations related to orders, including the
      creation, management, and fulfillment of orders.


      It provides a comprehensive overview of the order lifecycle, from initial
      request to final delivery.


      The operations in this section are designed to support the efficient and
      effective management of orders, ensuring that customers receive their
      products or services in a timely and satisfactory manner.


      The following operations are included in this section:


      * Searching Orders

      * Getting Order Details
  - name: price-lists
    description: >
      This section defines all the operations related to price lists, including
      the search of price lists for a specfic partner.
  - name: accreditations
    description: >
      This section defines all the operations related to accreditations,
      including the search of accreditations for a specfic partner.
  - name: apikeys
    description: >
      This section defines the operations related to API keys . 


      Current API key management still requires some interaction with Dassault
      Systèmes Information System (IS) team.

      This process will likely be updated in the future to provide more autonomy
      and reactivity on partner side. 


      Below is the description of the process when a partner is onboarded on
      APIForPartners program : 


      1. Dassault Systèmes IS team will initialize an API key and communicate it
      to partner Admin through a secured channel :

          - **Recommendation is to use a 1-1 discussion between Partner Admin and Dassault Systèmes IS person in charge within the dedicated 3DSwym Community**
          - **Do NOT use email or any unsecured communication channel or with wider audience**

      2. Partner Admin will then use this initial APIKEY value to authenticate
      and generate a new API key using the API  


      3. Partner admin will communicate back (within same secured channel) to
      Dassault Systèmes IS person in charge the **hashed_key** attributed from
      the API (NOT the API key itself)

          - The Hash operation is NOT reversible, so Dassault Systèmes will NOT have knowledge about partner API key. 
          - Partner Admin must store securely the generated API key (same level of confidentiality as a password)

      4. Dassault Systèmes IS team will update API Gateway configuration with
      the new API key (in practice with the hash value provided) and inform
      Partner when it is ready to use.


      5. Partner can then use this newly generated APIKEY to interact with all
      the available APIs.


      For the case of revocation and request of a new API key, steps 2 to 5 have
      to be followed.
  - name: leads-opportunities
    description: >
      This section defines the operations related to leads and opportunities for
      sales pipeline management.


      These ressources are managed with 'MySalesPipeline' application which
      implements Dassault Systèmes sales process called 'LEVERAGE' in accordance
      with the VALUE Engagement framework.

      LEVERAGE is an acronym that stands for Listen, Explore, Validate,
      Establish, Reach AGreement & Experience.
  - name: portfolio-items
    description: >
      This section defines the operations related to sales portfolio-items.


      The portfolio items are used in the definition of leads-opportunities in
      'MySalesPipeline' application.
paths:
  /order/api4partners/v0/orders/search:
    post:
      summary: Search Orders using various filters
      description: >
        Searches for orders based on various filter criteria such as creation
        date, booking date, last modified date, and more.

        Supports pagination through `skip` and `top` query parameters.
      tags:
        - orders
      operationId: searchOrders
      parameters:
        - name: skip
          in: query
          description: >
            The number of records to skip in the result set.  

            Use this for paginating through results. Defaults to 0 if not
            specified.

            For example, `skip=20` will skip the first 20 records.
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: top
          in: query
          description: >
            The maximum number of records to return in the response.  

            Use this to limit the size of the result set. Defaults to 10 if not
            specified.

            For example, `top=10` will return up to 10 records starting from the
            position defined by `skip`.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
      requestBody:
        description: >
          A JSON object specifying filter criteria for retrieving matching
          orders.


          The request must include at least one of the following sub-objects: 

          - `creationDateTime`

          - `bookingDateTime`

          - `lastUpdateDateTime`

          - `installedBaseNumber`

          - `onlineInstanceSeatId`

          - `billToPoReferences`


          These will be combined using an AND operator if more than one is
          provided.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/orders_search_req'
            examples:
              basicSearchSingleCriteria:
                summary: >-
                  Sample request body for searching orders using a single
                  criterion
                description: >
                  This example demonstrates how to search for orders using the
                  `creationDateTime` criterion.

                  If the `to` value is not provided under `creationDateTime`, it
                  is implicitly set to either 7 days after the `from` timestamp
                  or the current time—whichever is earlier.


                  This JSON payload retrieves all orders created between
                  `01-April-2025 1:30 AM UTC` and `08-April-2025 1:30 AM UTC`.
                value:
                  creationDateTime:
                    from: '2025-04-01T01:30:00Z'
              advancedSearchMultipleCriteria:
                summary: >-
                  Sample request body for searching orders using multiple
                  criteria
                description: >
                  This example demonstrates how to search for orders using
                  multiple criteria:

                  - `creationDateTime`

                  - `lastUpdateDateTime`

                  - `installedBaseNumber`

                  - `transactionType`


                  If the `to` value is not provided under `creationDateTime`, it
                  is implicitly set to either 7 days after the `from` timestamp
                  or the current time—whichever is earlier.


                  If the `from` value is not provided under
                  `lastUpdateDateTime`, it is implicitly set to 3 days before
                  the `to` timestamp.


                  This JSON payload searches for all `Renewal Orders` that:

                  - Were created between `01-April-2025 1:30 AM UTC` and
                  `08-April-2025 1:30 AM UTC`

                  - Were modified between `22-May-2025 7:45 PM UTC` and
                  `25-May-2025 7:45 PM UTC`

                  - Have the InstalledBase Number `LN00001234567`
                value:
                  creationDateTime:
                    from: '2025-04-01T01:30:00Z'
                  lastUpdateDateTime:
                    to: '2025-05-25T19:45:00Z'
                  installedBaseNumber: LN00001234567
                  transactionType: RN
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/200_post_orders_search'
              examples:
                successful_ordersSearch_OneResult:
                  summary: Sample successful basic Search for orders
                  description: >-
                    Sample successful basic search for orders with only 1
                    result.
                  value:
                    data:
                      - transaction:
                          id: PO_A123456789
                          type: PO
                          status: Sent to DSx.Finance
                          description: XYZ Company Order 50 products
                        creationDateTime: '2024-05-21T14:30:00Z'
                        dsRecievedPoDate: '2024-05-21'
                        bookingDateTime: '2024-05-29T18:00:00Z'
                        currency: USD
                        onlineConsentStatus: Not Applicable
                        billToSalesRepresentative: DOE, Jane
                        billToPoReference: EXAMPLE-CORP-20250518
                        billToSite:
                          id: '100012345678901'
                          name: Example Corporation
                          localName: 示例公司
                          locationId: 1
                        soldToSite:
                          id: '200012345678901'
                          name: Foobar Inc
                          localName: फ़ूबार इंक
                          locationId: 2
                        businessUnit:
                          id: BU001
                          name: Corporate Sales Unit A
                          localTimezone: CET
                    info:
                      success: true
                      statusCode: 200
                      estimatedSearchCount: 1
                200_ordersSearch_No-Result:
                  summary: Sample successful Search for orders without any results
                  description: Sample successful Search for orders without any results
                  value:
                    data: []
                    info:
                      success: true
                      statusCode: 200
                      estimatedSearchCount: 0
        '400':
          description: Bad request, invalid input.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400_post_orders_search'
              examples:
                failedOrderSearch_BadRequest:
                  summary: Example response for a bad request
                  description: >
                    This example shows the response returned when a bad request
                    is made, such as when no search criteria are provided.
                  value:
                    data: []
                    info:
                      success: false
                      statusCode: 400
                      estimatedSearchCount: 0
                    error:
                      - type: errors:3dx:invalidRequest
                        title: Missing required search criteria
                        errors:
                          - detail: >-
                              Please specify at least one search criterion.
                              Valid options include: `creationDateTime`,
                              `bookingDateTime`, `lastUpdateDateTime`,
                              `installedBaseNumber`, `onlineInstanceSeatId`,
                              `billToPoReferences`.
                            pointer: '#'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401_basic_unauthorized'
              examples:
                401_missing-apikey:
                  summary: Service response in case of missing APIKEY.
                  description: Basic Service response in case of missing APIKEY in request
                  value:
                    message: Missing API key in request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403_basic_forbidden'
              examples:
                403_forbidden:
                  summary: Access Forbidden
                  description: >-
                    Access Forbidden. Typical reason could be usage of invalid
                    API-KEY or a valid one but for a scope on which access has
                    not been granted by 3DS.
                  value:
                    message: API Consumer Not allowed
        '429':
          description: Too many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/429_too_many_requests'
              examples:
                429_too_many_requests:
                  summary: Too many Requests
                  description: >-
                    The service cannot handle the request as too many have been
                    received.
                  value:
                    message: Too many requests, please try again later
  /order/api4partners/v0/orders/{id}:
    get:
      summary: Get Order details
      description: >-
        Retrieves all the details of an order given its Dassault Systèmes
        reference.
      tags:
        - orders
      operationId: getOrderDetails
      parameters:
        - name: id
          in: path
          required: true
          description: id of the order to get details from
          schema:
            type: string
            example: PO_000123456789
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/200_get_orders'
              examples:
                successful_getOrderDetails:
                  summary: Sample successful response for order details query
                  description: Example of response for order details with line and subLine
                  value:
                    data:
                      - transaction:
                          id: PO_A123456789
                          type: PO
                          status: Sent to DSx.Finance
                          description: XYZ Company Order 50 products
                        businessUnit:
                          id: BU001
                          name: Corporate Sales Unit A
                          localTimezone: CET
                        billToSite:
                          id: '100012345678901'
                          name: Example Corporation
                          localName: 示例公司
                          locationId: 1
                        billToContact: DOE, Jini
                        soldToSite:
                          id: '200012345678901'
                          name: Foobar Inc
                          localName: फ़ूबार इंक
                          locationId: 2
                        creationDateTime: '2024-05-21T14:30:00Z'
                        dsReceivedPoDate: '2024-05-21'
                        bookingDateTime: '2024-05-29T18:00:00Z'
                        currency: USD
                        onlineConsentStatus: Not Applicable
                        billToSalesRepresentative: DOE, Jane
                        billToPoReference: EXAMPLE-CORP-20250518
                        agreement:
                          type: General VAR Agreement
                          reference: Enterprise License Agreement Q2 2024
                        sboNumber: ABC0012345
                        customerRequestedArrivalDate: '2025-05-31'
                        dsSalesRepresentative: DOE, John
                        isMultiYear: false
                        hasExitClause: false
                        recurringChargeBillingCycle: Calendar Year
                        opportunity: A1B2-C3D4E5
                        paymentTerms: Net Date of Invoice + 60 days
                        licenseChargeConditions:
                          - sequenceNumber: 1
                            lineGroup: SBL0001234567
                            onlineInstanceSeatId: R1122334455667
                            orderType: Stop - Transform
                            usageScope: GEO EMEA
                            promotion:
                              id: PAO0000111
                              name: 3DEXPERIENCE for small and medium business
                              combination: >-
                                Collaborative Design & Engineering Learning
                                @Home
                            waiver:
                              endDate: '2025-09-15'
                            licenseChargeBreakdown:
                              - sequenceNumber: 1
                                installedBaseNumber: LN00012345678
                                subOrderType: New License
                                revenueType: ALC
                                portfolio: CATIA
                                release: 3DEXPERIENCE R2025x
                                product:
                                  trigram: ABC
                                  type: Named User
                                  number: 1AB-ABC
                                  name: Generic Product Standard with Cloud Services
                                  dsOffering: Licensed Program
                                quantity: 2
                                unitListPrice: 1000
                                totalListPrice: 2000
                                billToNetAmount: 1930
                                billToAnnualAmount: 1930
                                billToDiscountPercentage: 30.5
                                billToMarginPercentage: 10.5
                                maximumCustomerNetAmount: 1958.95
                                maximumCustomerAnnualAmount: 1958.95
                                minimumCustomerDiscountPercentage: 10.5
                                startDate: '2025-06-01'
                                endDate: '2026-05-31'
                                duration: 2
                                calculatedStartDate: '2025-06-01'
                                calculatedEndDate: '2026-05-31'
                                yearNumber: 1
                                coupon:
                                  name: 10% off on Installation Fee
                                  discountPercentage: 10
                                inflation:
                                  date: '2025-07-01'
                                  ratio: 1.04
                                  exception: Capping To Price List
                    info:
                      success: true
                      statusCode: 200
                      estimatedSearchCount: 1
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xx_get_orders'
              examples:
                failedOrderGet_BadRequest:
                  summary: Example response for missing required parameter
                  description: >
                    This example shows the response returned when transaction id
                    is missing in the request.
                  value:
                    data: []
                    info:
                      success: false
                      statusCode: 400
                      estimatedSearchCount: 0
                    error:
                      - type: errors:3dx:invalidRequest
                        title: Bad Request
                        errors:
                          - detail: A required parameter is missing.
                            pointer: '#/transactionId'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401_basic_unauthorized'
              examples:
                401_missing-apikey:
                  summary: Service response in case of missing APIKEY.
                  description: Basic Service response in case of missing APIKEY in request
                  value:
                    message: Missing API key in request
        '403':
          description: Unauthorized, missing or invalid API Key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403_basic_forbidden'
              examples:
                403_forbidden:
                  summary: Access Forbidden
                  description: >-
                    Access Forbidden. Typical reason could be usage of invalid
                    API-KEY or a valid one but for a scope on which access has
                    not been granted by 3DS.
                  value:
                    message: API Consumer Not allowed
        '404':
          description: Not Found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xx_get_orders'
              examples:
                failedOrderGet_BadRequest:
                  summary: Example response for a Resource not Found
                  description: >
                    This example shows the response returned when no Order
                    exists with the provided Id.
                  value:
                    data: []
                    info:
                      success: false
                      statusCode: 400
                      estimatedSearchCount: 0
                    error:
                      - type: errors:3dx:resourceNotFound
                        title: Not found
                        errors:
                          - detail: Change your parameters to get results
                            pointer: '#'
        '429':
          description: Too many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/429_too_many_requests'
              examples:
                429_too_many_requests:
                  summary: Too many Requests
                  description: >-
                    The service cannot handle the request as too many have been
                    received.
                  value:
                    message: Too many requests, please try again later
  /order/api4partners/v0/price-lists/search:
    get:
      summary: Retrieve Price Lists
      description: |
        Retrieves the price lists for the authenticated user.
      tags:
        - price-lists
      operationId: searchPriceList
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/200_price-lists_search'
              examples:
                successful_priceLists_search:
                  summary: Successful price list search
                  description: >-
                    Example of a successful price list search request that
                    returns multiple price lists for different countries.
                  value:
                    data:
                      - countryCode: BLZ
                        countryName: Belize
                        priceLists:
                          - id: 9
                            name: LATAM South Price List
                            currency: USD
                            hasFuturePriceList: false
                            effectiveDate: 'null'
                      - countryCode: CAN
                        countryName: Canada
                        priceLists:
                          - id: 3
                            name: Canada Price List
                            currency: CAD
                            hasFuturePriceList: false
                            effectiveDate: '2025-09-12'
                      - countryCode: HND
                        countryName: Honduras
                        priceLists:
                          - id: 9
                            name: LATAM South Price List
                            currency: USD
                            hasFuturePriceList: false
                            effectiveDate: 'null'
                    info:
                      success: true
                      statusCode: 200
                      estimatedSearchCount: 3
                successful_priceLists_search_noResult:
                  summary: Successful price list search with no results
                  description: >-
                    Example of a successful price list search request that
                    returns no results, indicating no matching price lists.
                  value:
                    data: []
                    info:
                      success: true
                      statusCode: 200
                      estimatedSearchCount: 0
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401_basic_unauthorized'
              examples:
                401_missing-apikey:
                  summary: Service response in case of missing APIKEY.
                  description: Basic Service response in case of missing APIKEY in request
                  value:
                    message: Missing API key in request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403_basic_forbidden'
              examples:
                403_forbidden:
                  summary: Access Forbidden
                  description: >-
                    Access Forbidden. Typical reason could be usage of invalid
                    API-KEY or a valid one but for a scope on which access has
                    not been granted by 3DS.
                  value:
                    message: API Consumer Not allowed
        '429':
          description: Too many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/429_too_many_requests'
              examples:
                429_too_many_requests:
                  summary: Too many Requests
                  description: >-
                    The service cannot handle the request as too many have been
                    received.
                  value:
                    message: Too many requests, please try again later
  /order/api4partners/v0/accreditations/search:
    get:
      summary: Retrieve Accreditations
      description: >
        Retrieves accreditations associated with the authenticated user.
        Supports pagination with `skip` and `top` parameters.
      tags:
        - accreditations
      operationId: searchAccreditations
      parameters:
        - name: skip
          in: query
          description: Number of items to skip in the search results.
          schema:
            type: integer
            minimum: 0
            default: 0
          example: 0
        - name: top
          in: query
          description: Maximum number of items to retrieve in search results.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 100
          example: 100
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/200_accreditations_search'
              examples:
                successful_accreditations_search_threeResult:
                  summary: Successful accreditation search example
                  description: >-
                    Example of a successful accreditation search request that
                    returns multiple results, demonstrating top matches.
                  value:
                    data:
                      - id: PRTF008
                        name: Support & Services Offering
                        accreditationType: Portfolio
                      - id: PRTF063
                        name: Public Cloud 3DEXPERIENCE WORKS
                        accreditationType: Portfolio
                      - id: IPE00041462
                        name: 18-Sub-system Level Structural Validation
                        accreditationType: Industry Process Experience
                        deploymentType: On Premise
                        industrySolutionExperience:
                          id: ISE00005355
                          name: Co-Design to Target
                        solutionRelease:
                          id: REL00000055
                          name: 3DEXPERIENCE R2025x
                        industry:
                          id: IND000005
                          name: Aerospace & Defense
                    info:
                      success: true
                      statusCode: 200
                      estimatedSearchCount: 3
                successful_accreditations_search_noResult:
                  summary: Successful accreditation search with no results
                  description: >-
                    Example of a successful accreditation search request that
                    returns no results, indicating no matching accreditations.
                  value:
                    data: []
                    info:
                      success: true
                      statusCode: 200
                      estimatedSearchCount: 0
        '400':
          description: Bad request, invalid input.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400_accreditations_search'
              examples:
                failedAccreditationSearch_BadRequest_topOutsideRange:
                  summary: Top query parameter is outside the allowed ranged
                  description: >
                    Response returned when the top parameter exceeds the allowed
                    range.
                  value:
                    data: []
                    info:
                      success: false
                      statusCode: 400
                      estimatedSearchCount: 0
                    error:
                      - type: errors:3dx:invalidRequest
                        title: Bad Request
                        errors:
                          - detail: >-
                              Invalid pagination parameter. It must be a
                              positive natural number between 1 and 100.
                            pointer: '#/Top'
                failedAccreditationSearch_BadRequest_skipNegativeNumber:
                  summary: skip query parameter is a negative number
                  description: >
                    This example shows the response returned when a bad request
                    is made, such as when the skip parameter is a negative
                    number
                  value:
                    data: []
                    info:
                      success: false
                      statusCode: 400
                      estimatedSearchCount: 0
                    error:
                      - type: errors:3dx:invalidRequest
                        title: Bad Request
                        errors:
                          - detail: >-
                              Invalid pagination parameter. It must be a
                              positive whole number.
                            pointer: '#/Skip'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401_basic_unauthorized'
              examples:
                401_missing-apikey:
                  summary: Service response in case of missing APIKEY.
                  description: Basic Service response in case of missing APIKEY in request
                  value:
                    message: Missing API key in request
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403_basic_forbidden'
              examples:
                403_forbidden:
                  summary: Access Forbidden
                  description: >-
                    Access Forbidden. Typical reason could be usage of invalid
                    API-KEY or a valid one but for a scope on which access has
                    not been granted by 3DS.
                  value:
                    message: API Consumer Not allowed
        '429':
          description: Too many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/429_too_many_requests'
              examples:
                429_too_many_requests:
                  summary: Too many Requests
                  description: >-
                    The service cannot handle the request as too many have been
                    received.
                  value:
                    message: Too many requests, please try again later
  /order/api4partners/v0/apikeys:
    post:
      summary: Generate a new API key
      description: Generate a new API key and its hash.
      tags:
        - apikeys
      operationId: generateApiKey
      responses:
        '200':
          description: Successfully generated API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/200_post_apikeys'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401_basic_unauthorized'
              examples:
                401_missing-apikey:
                  summary: Service response in case of missing APIKEY.
                  description: Basic Service response in case of missing APIKEY in request
                  value:
                    message: Missing API key in request
        '403':
          description: Access Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403_basic_forbidden'
              examples:
                403_forbidden:
                  summary: Access Forbidden
                  description: >-
                    Access Forbidden. Typical reason could be usage of invalid
                    API-KEY or a valid one but for a scope on which access has
                    not been granted by 3DS.
                  value:
                    message: API Consumer Not allowed
        '429':
          description: Too many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/429_too_many_requests'
              examples:
                429_too_many_requests:
                  summary: Too many Requests
                  description: >-
                    The service cannot handle the request as too many have been
                    received.
                  value:
                    message: Too many requests, please try again later
  /sales/api4partners/v0/leads-opportunities:
    post:
      summary: Create a lead-opportunity object
      description: >
        Creates a lead-opportunity object from its attributes along with
        possible linked objects (contact, sales Rep)
      tags:
        - leads-opportunities
      operationId: createLeadsOpportunities
      requestBody:
        description: request Body for creating a lead-opportunity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post_leads-opportunities_data'
            examples:
              createLeadBasic:
                $ref: '#/components/examples/post_leads-opportunities_lead'
              createOpportunityBasic:
                $ref: '#/components/examples/post_leads-opportunities_oppy'
        required: true
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/201_post_leads-opportunities'
              examples:
                200_leadsOpportunitiesCreateResponse:
                  summary: OK
                  description: >-
                    Response in case of a successful creation of a new
                    leadOpportunity
                  value:
                    dsLeadOpportunityId: 9YEL-Y3W56Q
                    partnerLeadOpportunityId: PARTNER-CRM-LEAD-1A8R
                    action: create
                    info:
                      success: true
                      statusCode: 200
                      timestamp: null
                      traceId: null
                    error: null
        '400':
          description: Bad request, invalid input.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400_post_leads-opportunities'
              examples:
                400_leadsOpportunitiesCreateResponse:
                  summary: Bad Request
                  description: >-
                    Response in case of a failure for creation of a new lead
                    Opportunity
                  value:
                    data:
                      leadOportunityId: string
                      leadOpportunity:
                        partnerExternalId: string
                        name: string
                        dsOwnerEmail: string
                        status: string
                        forecastCategory: string
                        closeDate: date
                        cometCampaignCode: string
                        reasonWon:
                          - string
                        reasonLost:
                          - string
                        competitors:
                          - string
                        reasonWonLostComment: string
                        gtmTacticId: string
                        description: string
                        nextMilestone: string
                        nextMilestoneDate: date
                        currency: string
                      offerLines:
                        - amount: double
                          offerNameId: string
                          revenueType: string
                      customerLegalEntity:
                        id: string
                        dunsNumber: string
                        vatNumber: string
                        registrationId: string
                        name: string
                        city: string
                        country: string
                        addressLine1: string
                        statePrefecture: string
                        addressLine2: string
                        zipCode: string
                        websiteUrl: string
                    info:
                      success: false
                      statusCode: 400
                    error: {}
                400_alreadyExisting:
                  summary: Bad Request, already existing lead-opportunity
                  description: >-
                    Lead-opportunity with same partnerExternalId already
                    existing
                  value:
                    info:
                      success: false
                      statusCode: 400
                      timeStamp: '2025-07-01T13:03:16.325Z'
                      traceId: 4e58705b1c7d40b78e0d1ab6ac404ac8
                    error:
                      code: ERR801
                      message: >-
                        Leverage with this Partner External ID
                        DSLeadOpportunityID already exists.
                    data:
                      partnerLeadOpportunityId: null
                      dsLeadOpportunityId: null
                      action: null
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401_basic_unauthorized'
              examples:
                401_missing-apikey:
                  summary: Service response in case of missing APIKEY.
                  description: Basic Service response in case of missing APIKEY in request
                  value:
                    message: Missing API key in request
        '403':
          description: Access Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403_basic_forbidden'
              examples:
                403_forbidden:
                  summary: Access Forbidden
                  description: >-
                    Access Forbidden. Typical reason could be usage of invalid
                    API-KEY or a valid one but for a scope on which access has
                    not been granted by 3DS.
                  value:
                    message: API Consumer Not allowed
        '406':
          description: Not acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/406_leads-opportunities'
              examples:
                406_IncorrectCloseDateNextMilestoneFormat:
                  summary: Error returned when date Format is not as expected.
                  description: >-
                    Date format provided in one input is not as per the expected
                    format.
                  value:
                    info:
                      success: false
                      statusCode: 406
                      timeStamp: '2025-08-07T07:22:41.357Z'
                      traceId: 7a722f2871304f7fa0bd1457388dff5d
                    error:
                      code: ERR805
                      message: >-
                        Incorrect Close Date/next milestone date Format. Provide
                        date in ISO8601 format.
                    data:
                      partnerLeadOpportunityId: null
                      dsLeadOpportunityId: null
                      action: null
        '429':
          description: Too many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/429_too_many_requests'
              examples:
                429_too_many_requests:
                  summary: Too many Requests
                  description: >-
                    The service cannot handle the request as too many have been
                    received.
                  value:
                    message: Too many requests, please try again later
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/503_leads-opportunities'
              examples:
                503_ServiceUnavailable:
                  summary: Service Unavailable
                  description: >-
                    Service Unavailable Typical reason could be a maintenance on
                    3DS System. try again later
                  value:
                    info:
                      success: false
                      statusCode: 503
                      timestamp: '2025-06-30T12:36:46.556Z'
                      traceId: 3d29ece30a064ea68c3f5f4a9f785c6f
                    error:
                      code: ERR899
                      message: Service currently unavailable, please try again later.
                    data:
                      partnerLeadOpportunityId: null
                      dsLeadOpportunityId: null
                      action: null
  /sales/api4partners/v0/leads-opportunities/{id}:
    patch:
      summary: Update a lead-opportunity object
      description: >-
        Update a lead-opportunity (partial updates on some attributes is
        recommended)
      tags:
        - leads-opportunities
      operationId: updateLeadOpportunitiesDetails
      parameters:
        - name: id
          in: path
          required: true
          description: 3DS id of the lead-opportunity object to update
          schema:
            type: string
      requestBody:
        description: request Body for updating a lead-opportunity object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patch_leads-opportunities_data'
            examples:
              updateLeadStatus:
                $ref: '#/components/examples/patch_update-lead_status'
              updateLeadNextMilestone:
                $ref: '#/components/examples/patch_update-lead_nextMilestone'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/200_patch_leads-opportunities'
              examples:
                200_leadsOpportunitiesCreateResponse:
                  summary: OK
                  description: >-
                    Response in case of a successful creation of a new
                    leadOpportunity
                  value:
                    info:
                      success: true
                      statusCode: 200
                      timeStamp: null
                      traceId: null
                    error: null
                    data:
                      partnerLeadOpportunityId: OPPY-12345
                      dsLeadOpportunityId: XJSR-DZMFFT
                      action: update
        '400':
          description: Bad request, invalid input.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400_patch_leads-opportunities'
              examples:
                400_leadsOpportunitiesCreateResponse:
                  summary: Bad Request
                  description: >-
                    Response in case of a Failure in updating an existing
                    leadOpportunity
                  value:
                    data:
                      leadOportunityId: string
                      leadOpportunity:
                        partnerExternalId: string
                        name: string
                        dsOwnerEmail: string
                        status: string
                        forecastCategory: string
                        closeDate: date
                        cometCampaignCode: string
                        reasonWon:
                          - string
                        reasonLost:
                          - string
                        competitors:
                          - string
                        reasonWonLostComment: string
                        gtmTacticId: string
                        description: string
                        nextMilestone: string
                        nextMilestoneDate: date
                        currency: string
                      offerLines:
                        - amount: double
                          offerNameId: string
                          revenueType: string
                      customerLegalEntity:
                        id: string
                        dunsNumber: string
                        vatNumber: string
                        registrationId: string
                        name: string
                        city: string
                        country: string
                        addressLine1: string
                        statePrefecture: string
                        addressLine2: string
                        zipCode: string
                        websiteUrl: string
                      customerContact:
                        - phoneNumber: (555) 555-1234
                          salutation: Mr
                          jobTitle: R&D Director
                          email: robert.johnson@customer.com
                          firstName: robert
                          lastName: Johnson
                      partnerContact:
                        - salesRepEmail: john.doe@partner.com
                          salesRepFirstName: john
                          salesRepLastName: Doe
                    info:
                      success: false
                      statusCode: 400
                    errors: {}
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401_basic_unauthorized'
              examples:
                401_missing-apikey:
                  summary: Service response in case of missing APIKEY.
                  description: Basic Service response in case of missing APIKEY in request
                  value:
                    message: Missing API key in request
        '403':
          description: Access Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403_basic_forbidden'
              examples:
                403_forbidden:
                  summary: Access Forbidden
                  description: >-
                    Access Forbidden. Typical reason could be usage of invalid
                    API-KEY or a valid one but for a scope on which access has
                    not been granted by 3DS.
                  value:
                    message: API Consumer Not allowed
        '406':
          description: Not acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/406_leads-opportunities'
              examples:
                406_IncorrectCloseDateNextMilestoneFormat:
                  summary: Error returned when date Format is not as expected.
                  description: >-
                    Date format provided in one input is not as per the expected
                    format.
                  value:
                    info:
                      success: false
                      statusCode: 406
                      timeStamp: '2025-08-07T07:22:41.357Z'
                      traceId: 7a722f2871304f7fa0bd1457388dff5d
                    error:
                      code: ERR805
                      message: >-
                        Incorrect Close Date/next milestone date Format. Provide
                        date in ISO8601 format.
                    data:
                      partnerLeadOpportunityId: null
                      dsLeadOpportunityId: null
                      action: null
        '429':
          description: Too many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/429_too_many_requests'
              examples:
                429_too_many_requests:
                  summary: Too many Requests
                  description: >-
                    The service cannot handle the request as too many have been
                    received.
                  value:
                    message: Too many requests, please try again later
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/503_leads-opportunities'
              examples:
                503_ServiceUnavailable:
                  summary: Service Unavailable
                  description: >-
                    Service Unavailable Typical reason could be a maintenance on
                    3DS System. try again later
                  value:
                    info:
                      success: false
                      statusCode: 503
                      timestamp: '2025-06-30T12:36:46.556Z'
                      traceId: 3d29ece30a064ea68c3f5f4a9f785c6f
                    error:
                      code: ERR899
                      message: Service currently unavailable, please try again later.
                    data:
                      partnerLeadOpportunityId: null
                      dsLeadOpportunityId: null
                      action: null
    get:
      summary: Get details of a lead-opportunity object
      description: |
        gets details of a lead-opportunity object from its 3DS identifier.
      tags:
        - leads-opportunities
      operationId: getLeadsOpportunities
      parameters:
        - name: id
          in: path
          required: true
          description: >-
            3DS id of the lead-opportunity object for which details are
            requested
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/200_get_leads-opportunities'
              examples:
                200_leadsOpportunitiesGetResponse:
                  summary: OK
                  description: Successful retrieval of an existing leadOpportunity object
                  value:
                    error: null
                    info:
                      success: true
                      statusCode: 200
                      timeStamp: null
                      traceId: null
                    data:
                      leadOpportunity:
                        partnerLeadOpportunityId: API4PARTNERS-0813C
                        dsLeadOpportunityId: HCRQ-F1LLDE
                        name: TEST-0813C
                        dsOwnerEmail: john.doe@3ds.com
                        status: WON
                        forecastCategory: WON
                        closeDate: '2024-12-31T00:00:00.000Z'
                        cometCampaignCode: OC2DE17TAQ1C13018
                        competitors: null
                        reasonWon:
                          - STRNG_VAL_PROP
                        reasonLost:
                          - EMPTY
                        reasonWonLostComment: ''
                        gtmTacticId: null
                        description: ''
                        nextMilestone: ''
                        nextMilestoneDate: ''
                        currency: EUR
                        approvalStatus: PRE_APPROVED
                        engagementType: EXTEND
                        poInformation: ''
                        poStatus: null
                        poNumber: null
                        sboIndicator: EMPTY
                        sboStatus: null
                        sboNumber: null
                        growthType: EMPTY
                        leadPriority: EMPTY
                        levelOfInterest: EMPTY
                        dsComment: ''
                        partnerImportMode: EMPTY
                        createdDate: '2025-08-13T12:35:03.775Z'
                        modifiedDate: '2025-08-13T15:44:44.453Z'
                        offerLines:
                          - amount: 10000
                            offerNameId: MDMIND00022_PUBL_ISE00002687_IPE00021337
                            revenueType: UPFRONT
                          - amount: 11
                            offerNameId: MDMIND00022_PUBL_ISE00002687_IPE00021337
                            revenueType: RENTAL_BOOKING
                        customerContact:
                          - phoneNumber: '9658252499'
                            salutation: MR
                            jobTitle: ''
                            email: dummy123_mail@mail.com
                            firstName: F Name1
                            lastName: L_Name2
                        partnerContact: null
                        customerLegalEntity:
                          id: '200000000781989'
                          dunsNumber: null
                          vatNumber: null
                          registrationId: null
                          name: null
                          city: null
                          country: null
                          addressLine1: null
                          statePrefecture: null
                          addressLine2: null
                          zipCode: null
                          websiteUrl: null
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401_basic_unauthorized'
              examples:
                401_missing-apikey:
                  summary: Service response in case of missing APIKEY.
                  description: Basic Service response in case of missing APIKEY in request
                  value:
                    message: Missing API key in request
        '403':
          description: Access Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403_basic_forbidden'
              examples:
                403_forbidden:
                  summary: Access Forbidden
                  description: >-
                    Access Forbidden. Typical reason could be usage of invalid
                    API-KEY or a valid one but for a scope on which access has
                    not been granted by 3DS.
                  value:
                    message: API Consumer Not allowed
        '429':
          description: Too many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/429_too_many_requests'
              examples:
                429_too_many_requests:
                  summary: Too many Requests
                  description: >-
                    The service cannot handle the request as too many have been
                    received.
                  value:
                    message: Too many requests, please try again later
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/500_get_leads-opportunities'
              examples:
                500_leadsOpportunitiesGetResponse:
                  summary: Internal Server Error
                  description: No access or inexistant lead-opportunity id
                  value:
                    error:
                      code: ERROR_048
                      message: Leverage Id not in scope of requestor
                    info:
                      success: false
                      statusCode: 500
                      timeStamp: '2025-08-12T15:40:35.774Z'
                      traceId: 12bcca3a019645829d5330c5df912537
                    data: null
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/503_leads-opportunities'
              examples:
                503_ServiceUnavailable:
                  summary: Service Unavailable
                  description: >-
                    Service Unavailable Typical reason could be a maintenance on
                    3DS System. try again later
                  value:
                    info:
                      success: false
                      statusCode: 503
                      timestamp: '2025-06-30T12:36:46.556Z'
                      traceId: 3d29ece30a064ea68c3f5f4a9f785c6f
                    error:
                      code: ERR899
                      message: Service currently unavailable, please try again later.
                    data:
                      partnerLeadOpportunityId: null
                      dsLeadOpportunityId: null
                      action: null
  /sales/api4partners/v0/leads-opportunities/search:
    post:
      summary: Search for leads-opportunities
      description: >
        Searches for leads-opportunities using various search criteria (e.g.
        modifiedDate)
      tags:
        - leads-opportunities
      operationId: searchLeadsOpportunities
      requestBody:
        description: >-
          Request Body for searching leads-opportunities.


          The request must include at least one of the following sub-objects:


          - `modifiedDate`

          - `partnerLeadOpportunityId`


          These criteria will be combined using an AND operator if more than one
          is provided.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post_leads-opportunities_search'
            examples:
              search_modifiedDate:
                summary: search on modifiedDate criterion
                description: >-
                  Sample BodyRequest to search leads-opportunities based on
                  'modifiedDate' criterion.
                value:
                  data:
                    - modifiedDate:
                        fromDate: '2025-08-04T08:00:00Z'
                        toDate: '2025-08-08T18:00:00Z'
              search_partnerLeadOpportunityId:
                summary: search on partnerLeadOpportunityId criterion
                description: >-
                  sample BodyRequest to search leads-opportunitied based on
                  'partnerLeadOpportunityId' criterion.
                value:
                  data:
                    - partnerLeadOpportunityId:
                        - PARTNERID-129763
                        - PARTNERID-248651
              search_partnerLeadOpportunityId-unassigned:
                summary: >-
                  search for leads-opportunities without
                  partnerLeadOpportunityId
                description: >-
                  sample BodyRequest to search leads-opportunities on which
                  there is no partnerLeadOpportunityId defined.
                value:
                  data:
                    - partnerLeadOpportunityId: ''
              search_combined:
                summary: search with combined criteria
                description: >-
                  sample BodyRequest to search leads-opportunitied based on
                  'modifiedDate' & 'partnerLeadOpportunityId' criterion.
                value:
                  data:
                    - partnerLeadOpportunityId:
                        - PARTNERID-129763
                        - PARTNERID-248651
                    - modifiedDate:
                        fromDate: '2025-08-04T08:00:00Z'
                        toDate: '2025-08-08T18:00:00Z'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/200_post_leads-opportunities_search'
              examples:
                200_lead-opportunities_search:
                  summary: OK
                  description: Sample response for successful search.
                  value:
                    info:
                      success: true
                      statusCode: 200
                      timeStamp: '2025-08-08T16:36:23Z'
                      traceId: 785594df0cbd4f149d0ffbd7e0933820
                    error: null
                    data:
                      - dsLeadOpportunityId:
                          - 1FFC-7BQC5E
                          - BYTK-COL4A0
                          - 5KSL-VLSWRX
        '400':
          description: Bad request, invalid input.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400_post_leads-opportunities'
              examples:
                400_lead-opportunities_search_missingFromToDate:
                  summary: Bad Request
                  description: >-
                    Error when modifedDate search criterias (from or to) is
                    invalid
                  value:
                    info:
                      success: false
                      statusCode: 400
                      timeStamp: '2025-08-08T15:14:19Z'
                      traceId: afafb61eb2704ecb9b626d8b3b6c593f
                    error:
                      code: ERROR_043
                      message: >-
                        Both startDateTime and endDateTime must be passed as
                        parameters
                    data: null
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401_basic_unauthorized'
              examples:
                401_missing-apikey:
                  summary: Service response in case of missing APIKEY.
                  description: Basic Service response in case of missing APIKEY in request
                  value:
                    message: Missing API key in request
        '403':
          description: Access Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403_basic_forbidden'
              examples:
                403_forbidden:
                  summary: Access Forbidden
                  description: >-
                    Access Forbidden. Typical reason could be usage of invalid
                    API-KEY or a valid one but for a scope on which access has
                    not been granted by 3DS.
                  value:
                    message: API Consumer Not allowed
        '429':
          description: Too many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/429_too_many_requests'
              examples:
                429_too_many_requests:
                  summary: Too many Requests
                  description: >-
                    The service cannot handle the request as too many have been
                    received.
                  value:
                    message: Too many requests, please try again later
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/503_leads-opportunities'
              examples:
                503_ServiceUnavailable:
                  summary: Service Unavailable
                  description: >-
                    Service Unavailable Typical reason could be a maintenance on
                    3DS System. try again later
                  value:
                    info:
                      success: false
                      statusCode: 503
                      timestamp: '2025-06-30T12:36:46.556Z'
                      traceId: 3d29ece30a064ea68c3f5f4a9f785c6f
                    error:
                      code: ERR899
                      message: Service currently unavailable, please try again later.
                    data:
                      partnerLeadOpportunityId: null
                      dsLeadOpportunityId: null
                      action: null
  /sales/api4partners/v0/portfolio-items/search:
    get:
      summary: Search Sales portfolio items
      description: >
        Search Sales Portfolio Items. 

        For now, no particular search criteria is offered, only pagination with
        skip & top query parameters.
      tags:
        - portfolio-items
      operationId: searchPortfolioItems
      parameters:
        - name: skip
          in: query
          description: Number of items to skip in the search results.
          schema:
            type: integer
            minimum: 0
            default: 0
          example: 0
        - name: top
          in: query
          description: Maximum number of items to retrieve in search results.
          schema:
            type: integer
            minimum: 1
            default: 9999
          example: 100
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/200_get_portfolio-items_search'
              examples:
                200_portfolioItemsSearchGetResponse:
                  summary: OK
                  description: Successful search in portfolio items (with top=1)
                  value:
                    info:
                      success: true
                      statusCode: 200
                      estimatedSearchCount: 3049
                      timeStamp: '2025-08-14T06:24:04.000Z'
                    data:
                      - salesPortfolioType: Brand
                        salesPortfolioInfrastructure: On Premise
                        salesPortfolioisOrderable: true
                        salesPortfolioLevel1: CATIA
                        salesPortfolioLevel2: CATIA V4
                        salesPortfolioLevel3: MANUFACTURING
                        salesPortfolioId: CLASS00001_ONPR_CATIAV4_SOL000038
        '400':
          description: Bad request, invalid input.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400_get_portfolio-items_search'
              examples:
                400_portfolioItemsSearchGetResponse:
                  summary: Bad request
                  description: Invalid query parameter value (top=-5)
                  value:
                    info:
                      success: false
                      statusCode: 400
                      timeStamp: '2025-08-14T09:07:04.000Z'
                      estimatedSearchCount: 3030
                    error:
                      code: ERROR_004
                      message: '#top should be a positive, non zero integer'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401_basic_unauthorized'
              examples:
                401_missing-apikey:
                  summary: Service response in case of missing APIKEY.
                  description: Basic Service response in case of missing APIKEY in request
                  value:
                    message: Missing API key in request
        '403':
          description: Access Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403_basic_forbidden'
              examples:
                403_forbidden:
                  summary: Access Forbidden
                  description: >-
                    Access Forbidden. Typical reason could be usage of invalid
                    API-KEY or a valid one but for a scope on which access has
                    not been granted by 3DS.
                  value:
                    message: API Consumer Not allowed
        '429':
          description: Too many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/429_too_many_requests'
              examples:
                429_too_many_requests:
                  summary: Too many Requests
                  description: >-
                    The service cannot handle the request as too many have been
                    received.
                  value:
                    message: Too many requests, please try again later
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
  schemas:
    date_time_from:
      type: string
      description: >
        This property represents a timestamp in UTC format, following the ISO
        8601 standard.

        All date-time values must be provided in Coordinated Universal Time
        (UTC).

        The timestamp must not be set in the future.

        If not provided, the system will automatically calculate it by
        subtracting the maximum number of days specified for the time range
        defined for the parent search criteria.
      format: date-time
      example: '2024-05-21T14:30:00Z'
    date_time_to:
      type: string
      description: >
        This property represents a timestamp in UTC format, following the ISO
        8601 standard.

        All date-time values must be provided in Coordinated Universal Time
        (UTC).

        If the `from` timestamp is specified, this value must be later than
        `from`.

        If not provided, the system will automatically calculate this value by
        adding the maximum number of days specified for the time range defined
        for the parent search criteria.
      format: date-time
      example: '2024-05-22T14:30:00Z'
    installed_base_number:
      type: string
      description: >
        A unique identifier for the installed base, representing the total
        number of software licenses that have been issued to a Final Customer.

        The Installed Base Number is used to determine the Final Customer's
        maintenance and support obligations, as well as to calculate the cost of
        future upgrades or renewals.

        This is used to track the Final Customer's software licenses and
        maintenance history.
      maxLength: 40
      example: LN00012345678
    online_instance_seat_id:
      type: string
      description: >
        Unique identifier assigned to a 3DEXPERIENCE platform instance.

        It is used to identify a specific instance of the platform, which can be
        accessed through the cloud.

        This identifier is also referred to as the **Online Instance ID**.

        Additionally, it is also used as the **Seat ID** to identify a user's
        access to the instance.

        The Seat ID is used to manage user licenses, authenticate users, and
        track user activity within the instance.

        The Online Instance ID/Seat ID is a combination of letters and numbers.
      maxLength: 15
      example: R1122334455667
    transaction_type:
      type: string
      description: |
        Order type (one of: `PO`, `RN`).
      enum:
        - PO
        - RN
      x-enumDescriptions:
        PO: Purchase Order
        RN: Renewal Notification
      example: PO
    orders_search_req:
      type: object
      properties:
        creationDateTime:
          type: object
          description: >
            Returns orders created within a specified time range, using the
            `Creation` timestamp.

            The maximum time window allowed for the search is **7 days**
            (calculated time to time).

            Including this tag prompts the system to perform validations and
            automatically compute the `from` or `to` timestamp if either is
            missing.

            Omitting this tag means the system will skip these validations and
            will not perform any implicit computation of the `from` or `to`
            values.
          properties:
            from:
              $ref: '#/components/schemas/date_time_from'
            to:
              $ref: '#/components/schemas/date_time_to'
          anyOf:
            - required:
                - from
            - required:
                - to
        bookingDateTime:
          type: object
          description: >
            Returns orders booked within a specified time range, using the
            `Booking` timestamp.

            The maximum time window allowed for the search is **7 days**
            (calculated time to time).

            The `Booking` timestamp refers to the date and time when the order
            was approved by the Finance Department.

            Including this tag prompts the system to perform validations and
            automatically compute the `from` or `to` timestamp if either is
            missing.

            Omitting this tag means the system will skip these validations and
            will not perform any implicit computation of the `from` or `to`
            values.
          properties:
            from:
              $ref: '#/components/schemas/date_time_from'
            to:
              $ref: '#/components/schemas/date_time_to'
          anyOf:
            - required:
                - from
            - required:
                - to
        lastUpdateDateTime:
          type: object
          description: >
            Indicates the timestamp of the most recent update to the order.

            The maximum time window allowed for the search is **3 days**
            (calculated time to time).

            This field is automatically set to the current timestamp whenever
            the order is modified.

            Omitting this tag means the system will skip these validations and
            will not perform any implicit computation of the `from` or `to`
            values.
          properties:
            from:
              $ref: '#/components/schemas/date_time_from'
            to:
              $ref: '#/components/schemas/date_time_to'
          anyOf:
            - required:
                - from
            - required:
                - to
        installedBaseNumber:
          $ref: '#/components/schemas/installed_base_number'
        onlineInstanceSeatId:
          $ref: '#/components/schemas/online_instance_seat_id'
        billToPoReferences:
          type: array
          minItems: 1
          description: List of partner order references.
          example:
            - '390830'
          items:
            type: string
            maxLength: 60
            description: |
              Must be a string with a maximum length of 60 characters.
        transactionType:
          description: >
            Order type (one of: `PO`, `RN`).


            If left unspecified, records of both transaction types will be
            included in the response.
          $ref: '#/components/schemas/transaction_type'
      anyOf:
        - required:
            - creationDateTime
        - required:
            - bookingDateTime
        - required:
            - lastUpdateDateTime
        - required:
            - installedBaseNumber
        - required:
            - onlineInstanceSeatId
        - required:
            - billToPoReferences
    order_processing_status:
      type: string
      description: Current processing status of the order.
      enum:
        - Cancelled
        - Claim to be Managed
        - Consent Refused
        - Discarded
        - Draft
        - Forecast
        - On Hold
        - Quote
        - Draft by VAR
        - Finance Approved
        - Finance Refused
        - Pending Consent
        - Pending Customer Consent
        - Quote Rejected
        - Sales Approved
        - Sent Back to Finance
        - Sent Back to Sales
        - Sent Back to Quote
        - Sent Back to VAR
        - Sent Back to VAR Central Admin
        - Sent to Credit Manager
        - Sent to DSx.Finance
        - Submitted to Sales
        - Submitted to VAR Central Admin
      x-enumDescriptions:
        Cancelled: The order has been cancelled and is no longer valid.
        Claim to be Managed: The order is being claimed by a different entity for management.
        Consent Refused: The Final Customer has refused to provide consent for the order.
        Discarded: The order has been discarded and is no longer valid.
        Draft: The order is in draft mode and has not been submitted.
        Forecast: >-
          Status for renewal which are created more than 90 days before their
          start date, renewal is kept in Forecast status until system applies
          the price increase, then moved to Draft or Quote.
        On Hold: >-
          Users can put a renewal on-hold temporarily to prevent automatic
          finalization.
        Quote: The order is in the quoting phase and has not been submitted.
        Draft by VAR: >-
          The order is in draft mode and has been created by a Value Added
          Reseller (VAR).
        Finance Approved: The order has been approved by the Finance Department.
        Finance Refused: The order has been refused by the Finance Department.
        Pending Consent: The order is waiting for Final Customer consent.
        Pending Customer Consent: >-
          The order is waiting for Final Customer consent and has not been
          submitted.
        Quote Rejected: The quote for the order has been rejected.
        Sales Approved: The order has been approved by the Sales Department.
        Sent Back to Finance: >-
          The order has been sent back to the Finance Department for further
          processing.
        Sent Back to Sales: >-
          The order has been sent back to the Sales Department for further
          processing.
        Sent Back to Quote: >-
          The order has been sent back to the quoting phase for further review
          or modification.
        Sent Back to VAR: >-
          The order has been sent back to the Value Added Reseller (VAR) for
          further processing.
        Sent Back to VAR Central Admin: >-
          The order has been sent back to the VAR central administration for
          further processing.
        Sent to Credit Manager: The order has been sent to the credit manager for further processing.
        Sent to DSx.Finance: >-
          The order has been sent to the Finance Department for further
          processing.
        Submitted to Sales: >-
          The order has been submitted to the Sales Department for further
          processing.
        Submitted to VAR Central Admin: >-
          The order has been submitted to the VAR central administration for
          further processing.
      example: Sales Approved
    transaction:
      type: object
      description: Transactional details of the order.
      properties:
        id:
          type: string
          description: >-
            Unique identifier of the order. Can represent a Purchase Order or a
            Renewal Notification.
          maxLength: 13
          example: PO_A123456789
        type:
          $ref: '#/components/schemas/transaction_type'
        status:
          $ref: '#/components/schemas/order_processing_status'
        description:
          type: string
          description: >-
            Short description given to the Purchase Order / Renewal
            Notification.
          maxLength: 30
          example: XYZ Company Order 50 products
    local_time_zone:
      type: string
      description: |
        Time zone abbreviation used by the sales business unit.
      enum:
        - ACST
        - AEST
        - AKST
        - ASK
        - AST
        - AWST
        - BRI
        - CET
        - CHN
        - CST
        - EET
        - EST
        - ESTA
        - GMT
        - HAW
        - HOB
        - HST
        - IST
        - JST
        - MSK
        - MST
        - MSTA
        - NST
        - PST
        - SYD
        - UTC
        - VAL
        - WET
      x-enumDescriptions:
        ACST: Australian Central Standard Time
        AEST: Australian Eastern Standard Time
        AKST: Alaska Time (US)
        ASK: Alaska Time
        AST: Atlantic Time (Canada)
        AWST: Australian Western Standard Time
        BRI: Brisbane Time
        CET: Central European Time
        CHN: China Standard Time
        CST: Central Time (US)
        EET: Eastern European Time
        EST: Eastern Time (US)
        ESTA: Indiana
        GMT: Greenwich Mean Time
        HAW: Hawaii Time
        HOB: Hobart Time
        HST: Hawaiian Time
        IST: Indian Time
        JST: Japan Standard Time
        MSK: Moscow Time
        MST: Mountain Time (US)
        MSTA: Arizona Time
        NST: Newfoundland Time (Canada)
        PST: Pacific Time (US)
        SYD: Sydney Time
        UTC: Universal Time Coordinated, Zulu
        VAL: Vladivostok Time
        WET: Western European Time
      example: CET
    business_unit:
      type: object
      description: Details of the sales business unit.
      properties:
        id:
          type: string
          description: Unique identifier of the sales business unit.
          minLength: 5
          maxLength: 5
          example: BU001
        name:
          type: string
          description: Name of the sales business unit.
          maxLength: 25
          example: Corporate Sales Unit A
        localTimezone:
          $ref: '#/components/schemas/local_time_zone'
      required:
        - id
        - name
        - localTimezone
    legal_entity:
      type: object
      properties:
        id:
          type: string
          description: >
            A unique identifier for the company. The value will be within the
            Legal Entity Family.
          maxLength: 15
          example: '100012345678901'
        name:
          type: string
          description: |
            The registered name of the company in English.
          maxLength: 120
          example: Example Corporation
        localName:
          type: string
          description: |
            The registered name of the company in the local language.
          maxLength: 120
          example: 示例公司
        locationId:
          type: integer
          description: |
            A unique identifier representing the company's location. 
            Must be an integer between 1 and 999.
          minimum: 1
          maximum: 999
          example: 2
      required:
        - id
        - name
        - locationId
    creation_datetime:
      type: string
      description: |
        UTC timestamp when the order was created in the system.

        Format: ISO 8601 UTC (e.g., `2025-05-21T14:30:00Z`)
      format: date-time
      example: '2025-05-21T14:30:00Z'
    ds_received_po_date:
      type: string
      description: >-
        Date when the order was received by Dassault Systèmes, in ISO 8601
        format (YYYY-MM-DD).
      format: date
      example: '2025-05-21'
    booking_datetime:
      type: string
      description: |
        UTC timestamp when the order was approved by the Finance Department.

        Format: ISO 8601 UTC (e.g., `2025-05-30T14:30:00Z`)
      format: date-time
      example: '2025-05-29T18:00:00Z'
    currency:
      type: string
      description: >
        Three-letter ISO 4217 currency code representing the transaction
        currency.


        Must be exactly 3 uppercase alphabetic characters (e.g., `USD` for US
        Dollar, `EUR` for Euro, `INR` for Indian Ruppee).
      minLength: 3
      maxLength: 3
      pattern: ^[A-Z]{3}$
      example: USD
    online_consent_status:
      type: string
      description: |
        Status of the online consent request sent to the designated contact.
      enum:
        - Accepted
        - Expired
        - Not Applicable
        - Not Requested
        - Refused
        - Requested
      x-enumDescriptions:
        Accepted: >-
          The online consent request has been successfully accepted by the
          designated contact.
        Expired: The online consent request has expired and is no longer valid.
        Not Applicable: >-
          The online consent request is not applicable to the current situation
          or context.
        Not Requested: >-
          The online consent request has not been sent to the designated
          contact.
        Refused: The online consent request has been refused by the designated contact.
        Requested: >-
          The online consent request has been sent to the designated contact,
          but the status is pending.
      default: ''
      example: Accepted
    billto_sales_representative:
      type: string
      description: Name of the sales representative person from the **Bill To** site.
      example: DOE, Jane
    billto_po_reference:
      type: string
      description: >
        Identifier of the order as recorded in the **Bill To** site's ordering
        system.


        If available, this reference will also appear on the Dassault Systèmes
        invoice.
      example: EXAMPLE-CORP-20250518
    orders_search_data:
      type: array
      description: List of orders retrieved during the search operation.
      items:
        type: object
        description: Summary information for a single order.
        properties:
          transaction:
            $ref: '#/components/schemas/transaction'
          businessUnit:
            $ref: '#/components/schemas/business_unit'
          billToSite:
            type: object
            description: >-
              Legal entity to which Dassault Systèmes will issue the invoice
              (Bill To).
            $ref: '#/components/schemas/legal_entity'
          soldToSite:
            type: object
            description: >-
              Legal entity of the company that is the Final Customer of Dassault
              Systèmes products (Sold To).
            $ref: '#/components/schemas/legal_entity'
          creationDateTime:
            $ref: '#/components/schemas/creation_datetime'
          dsRecievedPoDate:
            $ref: '#/components/schemas/ds_received_po_date'
          bookingDateTime:
            $ref: '#/components/schemas/booking_datetime'
          currency:
            $ref: '#/components/schemas/currency'
          onlineConsentStatus:
            $ref: '#/components/schemas/online_consent_status'
          billToSalesRepresentative:
            $ref: '#/components/schemas/billto_sales_representative'
          billToPoReference:
            $ref: '#/components/schemas/billto_po_reference'
        required:
          - transaction
          - businessUnit
          - billToSite
          - soldToSite
          - creationDateTime
          - currency
    info:
      type: object
      description: >-
        Metadata section of the response providing execution status and result
        summary.
      properties:
        success:
          type: boolean
          description: Indicates whether the API request was executed successfully.
        statusCode:
          type: integer
          description: HTTP status code corresponding to the response.
        estimatedSearchCount:
          type: integer
          description: Estimated number of results matching the search criteria.
      required:
        - success
        - statusCode
    error:
      type: array
      description: >
        An array containing one or more error objects identified during the
        request processing.

        Each object provides detailed information about a specific type of error
        encountered.
      items:
        type: object
        properties:
          type:
            type: string
            description: >
              A URI identifying the specific type of error.  

              This allows API consumers to programmatically recognize and handle
              the error appropriately.  


              The URI follows the format: `errors:<domain>:<error_type>`  

              Example values include:

              - `errors:3dx:invalidRequest`

              - `errors:3dx:authenticationGenericError`

              - `errors:3dx:resourceNotFound`

              - `errors:3dx:internalServerError`
            enum:
              - errors:3dx:invalidRequest
              - errors:3dx:authenticationGenericError
              - errors:3dx:resourceNotFound
              - errors:3dx:internalServerError
          title:
            type: string
            description: >-
              A user-friendly error message, typically localized
              (NLS-supported), describing the general nature of the error.
          errors:
            type: array
            description: >
              A list of individual validation or processing errors related to
              the request.  

              Useful when multiple issues are detected at once.
            items:
              type: object
              description: Details of a single error instance.
              properties:
                detail:
                  type: string
                  description: >-
                    A human-readable message offering guidance to resolve the
                    specific error.
                pointer:
                  type: string
                  description: >-
                    A [JSON
                    Pointer](https://datatracker.ietf.org/doc/html/rfc6901)
                    indicating the location of the field in the request payload
                    where the error occurred.
        required:
          - type
          - title
    200_post_orders_search:
      type: object
      description: Response body returned upon a successful order search request.
      properties:
        data:
          $ref: '#/components/schemas/orders_search_data'
        info:
          $ref: '#/components/schemas/info'
        error:
          $ref: '#/components/schemas/error'
      required:
        - info
        - data
    400_post_orders_search:
      type: object
      description: Response body returned when the order search request fails.
      properties:
        data:
          type: array
          description: Always an empty array in case of error responses.
          maxItems: 0
          items: {}
          example: []
        info:
          $ref: '#/components/schemas/info'
        error:
          $ref: '#/components/schemas/error'
      required:
        - info
        - data
        - error
    401_basic_unauthorized:
      type: object
      description: Unauthorized
      properties:
        message:
          type: string
      required:
        - message
    403_basic_forbidden:
      type: object
      description: Access Forbidden.
      properties:
        message:
          type: string
      required:
        - message
    429_too_many_requests:
      type: object
      description: Too Many Requests
      properties:
        message:
          type: string
      required:
        - message
    recurring_charge_billing_cycle:
      type: string
      description: >
        Identifies how often invoices are sent for ALC and ASC licenses. In the
        event of prorating (to an anniversary date, in the first month, or in
        the first quarter) or cancellation and refund or overpayment, the
        prorate calculation is based on 30 day months.
      enum:
        - Calendar Month
        - Calendar Quarter
        - Calendar Semester
        - Calendar Year
        - Full At Date
        - Immediate
        - Rolling Month 360
        - Rolling Quarter 360
        - Rolling Semester 360
        - Rolling Year 360
      x-enumDescriptions:
        Calendar Month: >-
          bill recurring license charges through the end of the current calendar
          month and for full month periods thereafter (or until indicated
          anniversary date if earlier)
        Calendar Quarter: >-
          bill recurring license charges through the end of the current calendar
          quarter and for full 3 month periods thereafter (or until indicated
          anniversary date if earlier)
        Calendar Semester: >-
          bill recurring license charges through the end of the current semester
          and for full 6 month periods thereafter (or until indicated
          anniversary date if earlier)
        Calendar Year: >-
          bill recurring license charges through the end of the current calendar
          year and for full 12 month periods thereafter (or until indicated
          anniversary date if earlier)
        Full At Date: >-
          bill recurring license charges for a 12-month period (or until
          indicated anniversary date if earlier) taking into consideration any
          start dates contained in the PO. If multiple durations (in contrast to
          quantity) of a recurrent license charge are ordered, they are invoiced
          at up front rather than on an annual basis. For example, if a PO is
          for two years of ALC, the two years are invoiced upfront at the start
          date rather than year one following order completion and year two the
          next year.
        Immediate: >-
          bill is generated by DS at the PO approval date for the full amount of
          the order not taking into consideration any license start dates
          contained in the PO. For example, if a PO is for two years of ALC, the
          two years are invoiced upfront at PO approval date.
        Rolling Month 360: >-
          bill recurring license charges from the start date through start date
          plus one month duration (or until indicated end date if earlier).
        Rolling Quarter 360: >-
          bill recurring license charges from the start date through start date
          plus 3 months duration (or until indicated end date if earlier).
        Rolling Semester 360: >-
          bill recurring license charges from the start date through start date
          plus 6 months duration (or until indicated end date if earlier).
        Rolling Year 360: >-
          bill recurring license charges from the start date through start date
          plus 12 months (or until indicated end date if earlier). For example,
          if PO is for 2 years of ALC with a start date February 1st, the 2
          invoicing periods will be from February 1st to January 31st.
      example: Calendar Year
    order_type:
      type: string
      description: >
        Specifies the classification of the order based on its nature, purpose,
        or contractual arrangement.

        This helps identify whether the order involves a new purchase, renewal,
        upgrade, transfer, suspension,

        migration, evaluation, or any other business scenario. Each value
        represents a predefined business process

        or transaction type that impacts how the order is handled and processed.

        For a complete list of supported values, refer to the `enum` section.
      enum:
        - Change of Channel
        - Change of VAR
        - DS Brand -> DS & Migration
        - DS Brand -> DS OTC Platform
        - EPP Training
        - Evaluation License
        - IBM -> DS
        - IBM -> DS & Migration
        - IBM -> DS without Support
        - IBM NAL Parallel Use -> DS
        - IBM NAL without Support -> DS
        - Intercompany Transfer
        - Migration - Non Standard
        - Migration - Standard
        - Module Exchange - Non Standard
        - Module Exchange - Standard
        - New
        - One Time Fee
        - Parallel Use Extension
        - Renewal
        - Special Order
        - Stop
        - Stop & Parallel Use
        - Stop - Transform
        - Suspension
        - Suspension Reinstatement
        - TOS Reinstatement
        - Termination Of Support
        - Transfer Parallel Use
        - Transfer without Support
        - VAR Use
[...]
